{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    #cl1{
        background-image: url('static/image/cl1.jpg');
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
    }
    #cl2{
        background-image: url('static/image/cl2.jpg');
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
    }
    #cl3{
        background-image: url('static/image/cl3.jpg');
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
    }
    #cl4{
        background-image: url('static/image/cl-4.jpg');
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
    }
    #cl5{
        background-image: url('static/image/cl5.jpg');
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
    }
    #cl6{
        background-image: url('static/image/cl6.jpg');
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
    }
    #ct1{
        color: transparent;
    }
    #ct1:hover{
        color: black;
        background-color: rgba(0, 255, 42, 0.5);
        height: 500px;
        text-align: center;
        padding-top: 150px;
        border-radius: 30px;
    }
    #ct2{
        color: transparent;
    }
    #ct2:hover{
        color: black;
        background-color: rgba(0, 255, 42, 0.5);
        height: 500px;
        text-align: center;
        padding-top: 150px;
        border-radius: 30px;
    }
    #ct3{
        color: transparent;
    }
    #ct3:hover{
        color: black;
        background-color: rgba(0, 255, 42, 0.5);
        height: 500px;
        text-align: center;
        padding-top: 150px;
        border-radius: 30px;
    }

    #ct4{
        color: transparent;
    }
    #ct4:hover{
        color: black;
        background-color: rgba(0, 255, 42, 0.5);
        height: 500px;
        text-align: center;
        padding-top: 150px;
        border-radius: 30px;
    }

    #ct5{
        color: transparent;
    }
    #ct5:hover{
        color: black;
        background-color: rgba(0, 255, 42, 0.5);
        height: 500px;
        text-align: center;
        padding-top: 150px;
        border-radius: 30px;
    }

    #ct6{
        color: transparent;
    }
    #ct6:hover{
        color: black;
        background-color: rgba(0, 255, 42, 0.5);
        height: 500px;
        text-align: center;
        padding-top: 150px;
        border-radius: 30px;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="margin-left: 9%;">
            <div class="row">
                <div class="col-sm-3 m-3" id="cl1">
                   <div class="row">
                    <div class="col-sm-12" id="ct1">
                        <h5>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, neque ab. Qui accusamus voluptas eius autem iste suscipit illum? Aperiam dolores provident illo voluptatibus libero quasi animi laboriosam quisquam quis.
                        </h5>
                    </div>
                   </div>
                </div>
                <div class="col-sm-3 m-3" id="cl2">
                    <div class="row">
                        <div class="col-sm-12" id="ct2">
                            <h5>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, neque ab. Qui accusamus voluptas eius autem iste suscipit illum? Aperiam dolores provident illo voluptatibus libero quasi animi laboriosam quisquam quis.
                            </h5>
                        </div>
                       </div>
                </div>
                <div class="col-sm-3 m-3" id="cl3">
                    <div class="row">
                        <div class="col-sm-12" id="ct3">
                            <h5>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, neque ab. Qui accusamus voluptas eius autem iste suscipit illum? Aperiam dolores provident illo voluptatibus libero quasi animi laboriosam quisquam quis.
                            </h5>
                        </div>
                       </div>
                </div>
              

                <div class="col-sm-3 m-3" id="cl4">
                    <div class="row">
                     <div class="col-sm-12" id="ct4">
                         <h5>
                             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, neque ab. Qui accusamus voluptas eius autem iste suscipit illum? Aperiam dolores provident illo voluptatibus libero quasi animi laboriosam quisquam quis.
                         </h5>
                     </div>
                    </div>
                 </div>
                 <div class="col-sm-3 m-3" id="cl5">
                     <div class="row">
                         <div class="col-sm-12" id="ct5">
                             <h5>
                                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, neque ab. Qui accusamus voluptas eius autem iste suscipit illum? Aperiam dolores provident illo voluptatibus libero quasi animi laboriosam quisquam quis.
                             </h5>
                         </div>
                        </div>
                 </div>
                 <div class="col-sm-3 m-3" id="cl6">
                     <div class="row">
                         <div class="col-sm-12" id="ct6">
                             <h5>
                                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, neque ab. Qui accusamus voluptas eius autem iste suscipit illum? Aperiam dolores provident illo voluptatibus libero quasi animi laboriosam quisquam quis.
                             </h5>
                         </div>
                        </div>
                 </div>
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}